:root{
--primary: #EB1CCC;
--secondary: #95989a;
--text-color: #FFF;
--text-secondary: #000;
--text-tertinary: #5D5D5D;
--text-newTitle: #ffd700;
--bg-form: #6495ed;
--text-newTitle2: #ffff00;
--text-moreDestiny: #ff6347;
--text-secondBanner: #00bfff;

}

*{
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*body{
    padding-bottom: 500px;
}*/


/* Event form */
#event-description{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./img/intercambio.jpg");
    background-position: center;
    background-size: cover;
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--text-color);
    
}

#disclaimer h2,
#disclaimer .event-date{
    color: var(--text-newTitle);

}

#inter{
    font-size: 4em !important;
}

#disclaimer h2{
    font-size: 3em;
    margin-bottom: 1em;
    
}

#disclaimer .about-event{
    font-size: 1em;
    text-transform: uppercase;
    max-width: 350px;
    font-weight: bold;
    margin-bottom: 1em;

}

#disclaimer p{
    font-size: 1.5em;
    margin-bottom: .3em;

}

#disclaimer .event-date{
    font-weight: bold;
}

#subscription-form{
    background-color: var(--bg-form);
    padding: 2em;
    max-width: 22%;

}

#subscription-form p{
    font-size: 1.2em;
    color: var(--text-secondary);
    margin-bottom: 1em;

}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8em;
}

.form-group label{
    color: var(--text-tertinary);
    margin-bottom: .3em;
    font-weight: bold;
}

.form-group input,
.form-group select {
    padding: 6px 8px;
    border-radius: 5px;
    border: none;
    outline: none;

}

.btn{
    background-color: var(--text-newTitle2);
    color: var(--text-secondary);
    text-transform: uppercase;
    width: 100%;
    border: none;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
    font-weight: bold;

}

.btn:hover{
    opacity: 1;
}


/* Benefits section */
.key-benefits h2{
    background-color: var(--secondary);
    text-align: center;
    padding: 2em;
    font-weight: 600;
    color: var(--text-secondary);

}

.benefits{
    display: flex;
    justify-content: space-around;
    padding: 4em;
    width: 80%;
    margin: 0 auto;

}


.benefit{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20%;
    color: var(--text-tertinary);

}


.benefit .benefit-img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-bottom: 1em;
    
}

#benefit-1{
    background-image: url(./img/canada.jpg);
}

#benefit-2{
    background-image: url(./img/interVisto.jpg);

}

#benefit-3{
    background-image: url(./img/visto.jpg);
}

/* Event Location */
#location{
    height: 400px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/estudantes.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--text-color);
    margin-bottom: 3em;
}

#address, 
#about-location{
    max-width: 30%;
}

#address{
display: flex;

}

#address i{
    color: var(--text-secondBanner);
    font-size: 4em;
    margin-right: 0.5em;
}

#address-details{
    text-align: center;
    font-size: 1.3em;
}

#about-location h3{
    color: var(--text-secondBanner);
    font-size: 2.5em;
    margin-bottom: 1em;
    text-transform: uppercase;

}

#about-location p{
    line-height: 1.5em;
}

/* Event details container */
#details{
    width: 80%;
    margin: 0 auto;
}

.detail{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5%;
    margin-bottom: 4em;
}

.detail img{
    width: 50%;
}

.detail h3{
    margin-bottom: 1em;
    font-size: 2em;
    font-weight: 500;

}

#detail-1 h3{
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    color: var(--text-moreDestiny);
}

.detail-description{
    width: 100%;
    padding-left: 2em;
    /*color: rgba(197, 83, 63, 0.884);*/

    color: dodgerblue;
    font-size: 1.1em;
    font-weight: 500
}

.detail-description ul{
    list-style-position: inside;
}

.detail-description ul li:last-child{
    font-weight: bold;
}

/* Call to Action Section */
#cta{
    height: 300px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/viagens1.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

#cta > h3{
    margin-bottom: 1.2em;
    font-size: 2em;
    font-weight: 500;
}

#cta > .btn{
    width: 30%;
    margin: 0 auto;
    font-weight: 600;
    font-size: 1.2em;
}

/* Footer */
#footer{
    text-align: center;
    color: var(--secondary);
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#footer h3{
    font-size: 1.8em;
    margin-bottom: .5em;
}

#footer p:nth-child(2){
    margin-bottom: 1em;
    font-size: 1.2em;

}

#footer span{
    font-weight: bold;
}

/* Responsividade */

@media (max-width: 450px) {
    /* Event Form */

    #event-description{
        flex-direction: column;
        height: 45em;
        background-size: revert;
        background-position: inherit;
    }

    #subscription-form{
        max-width: 100%;

    }

    .benefits{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0.2em;
    }

    .benefits .benefit{
        max-width: none;
        margin-bottom: 3em;
    }

    .key-benefits h2{
        /*margin-top: 12em;*/
    }

    #about-location{
        display: none;
    }

    #details .detail{
        flex-direction: column;
    }
    
    .detail img{
        width: 100%;
    }
    
    #detail-1 > img{
        order: 2;

    }

    #detail-1 > .detail-description > h3{
        font-size: 1.2em;
        text-align: center;
    }

    #detail-2{
        text-align: center;
        line-height: 2em;
    }


    .detail-description > ul > li{
        list-style: none;
    }

    /*#detail-1 > .detail-description{
        order: 1;
    }*/
    
    #disclaimer{
        text-align: center;
        
    }

    #disclaimer > .about-event{
        font-size: 0.8em !important;
        display: none;
    }

    #disclaimer > h2{
        margin-bottom: 0;
        font-size: 2.5em !important;
    }

    #cta > h3{
        font-size: 1.5em;
    }

    #cta > .btn{
        width: 90%;
    }

    #detail-2 > .detail-description{
        order: 1;
    }

    .detail > img{
        margin-top: 3em;
    }

    #detail-2 > img{
        order: 2;
    }
    
    #address{
        display: flex;
        flex-direction: column;
        align-items: center
    }

    #address > i{
        margin-right: 0;
    }

    #address-details{
        text-align: center;
        font-size: 1.3em;
        width: 10em;
    }

   
}





/* @media (max-width: 350px){
    #about-location{
        max-width: 40%;
    }

    #address .bi{
        display: none;
    }

    .detail{
        width: 70%;
    }

    #detail-1 h3{
        font-size: 1.2em;
    }

}*/


















































